@font-face { font-family: Aleo-Regular; src: url('fonts/Aleo/Aleo-Regular.otf'); }


@font-face { font-family: HalisGR-Medium; src: url('fonts/hallis/HalisGR-Medium.otf'); }
@font-face { font-family: HalisGR-Bold; src: url('fonts/hallis/HalisGR-Bold.otf'); }
@font-face { font-family: HalisGR-Extralight; src: url('fonts/hallis/HalisGR-Extralight.otf'); }
@font-face { font-family: HalisGR-S-Medium; src: url('fonts/hallis/HalisGR-S-Medium.otf'); }
/*HalisGR-ExtraLight-Italic.otf
HalisGR-S-Black.otf
HalisGR-S-ExtraLight.otf
HalisGR-S-Regular.otf
Halis_GR-Light-Italic.otf
HalisGR-BlackItalic.otf
HalisGR-Extralight.otf
HalisGR-S-BlackItalic.otf
HalisGR-S-ExtraLightItalic.otf
HalisGR-S-RegularItalic.otf
Halis_GR-light.otf
HalisGR-Bold.otf
HalisGR-Medium.otf
HalisGR-S-Bold.otf
HalisGR-S-Light.otf
HalisGR-S-Thin.otf
HalisGR-BoldItalic.otf
HalisGR-MediumItalic.otf
HalisGR-S-BoldItalic.otf
HalisGR-S-LightItalic.otf
HalisGR-S-ThinItalic.otf
HalisGR-Book-Italic.otf
HalisGR-Regular-Italic.otf
HalisGR-S-Book-Italic.otf
HalisGR-S-Medium.otf
HalisGR-Thin.otf
HalisGR-Book.otf
HalisGR-Regular.otf
HalisGR-S-Book.otf
HalisGR-S-MediumItalic.otf
HalisGR-ThinItalic.otf*/
