@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'fonts';
@import 'vars';
@import 'pages/info';
@import 'pages/projects';
@import 'pages/red';
@import 'pages/single-project';
body{
  height: 100%;
  width: 100%;
}
.navbar{
  background: $pink;
  position: fixed !important;
  padding-top: 0!important;
  min-height: 20px !important;
  border-radius: 0!important;
  transition:{
    property: all;
    duration: 0.2s;
    timing-function: ease-in-out;
  }
  &.gizle {
    top: -90px !important;
  }
  &.sabit {
    top:0 !important;
    z-index: 9999 !important;
  }
  .navbar-brand{
    text-indent: -9999px;
    display: inline-block;
    width: 20px;
    height: 25px;
    margin-left: 38px;
    margin-top: 12px;
    background:{
      repeat: no-repeat;
      image: url('../images/white-logo.png');
    }
    position: relative;
    &.active{
      &:before{
        position: absolute;
        content: ' ';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        right: 20px;
        margin-left: -1.5px;
        bottom: -4px;
        background: white;

      }
    }
  }
    li{
      &.active{
        a{
          position: relative;
          &:before{
            position: absolute;
            content: ' ';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            left: 50%;
            margin-left: -1.5px;
            bottom: 11px;
            background: #D60056;
          }
        }
      }
    }
    a{
      color: $pink;
      &:hover,
      &:focus{
        background-color: transparent!important;
      }
      &.logo{
        display: inline-block;
        width: 20px;
        height: 25px;
        text-indent: -9999px;
        background: {
          image: url('../images/logo-small.png');
          repeat: no-repeat;
        }
      }
    }
  }

.navbar{
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 20px;
    a{
      font-family: 'HalisGR-S-Medium';
      color: #fff;
      &:hover,
      &:focus{
        background-color: transparent!important;
      }
    }
}
#main{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.player{
  position: relative;
  height: 100%;
  width: 100%;
  .image{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    //opacity: .5;
    background: {
      image: url('../images/home/r.png');
      size: cover;
      repeat: no-repeat;
    }
    /*&:before{
        content: ' ';
        background: url("../images/home/overlay.png");
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }*/
  }
  .logo{
    position: absolute;
    top: 17.35241502%;
    right: 32.51953125%;
    left: 45.703125%;
    bottom: 13.059033%;
    background: {
      image: url('../images/home/logo-06.png');
      size: cover;
      repeat: no-repeat;
    }
  }
}

#description,
#meet-us{
  opacity: 0;
  &.fadeina{
    opacity: 1;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }
  text-align:center;
  padding: 10% 0;
  h3{
    color: #8A8A8D;
    font-size: 30px;
    font-weight: 300;
    font-family: 'HalisGR-Extralight';
    a{
      color: #8A8A8D;
      &:hover{
        text-decoration: none;
      }
    }
  }
  h1{
    color: $pink;
    font-size: 50px;
    font-family: 'Aleo-Regular';
    margin: 0;
  }
}

#projects{
  padding: 8% 0;
  background: #D9D9D9;
  text-align: center;
  .container{
    position: relative;
  }
  .projects-plus{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    width: 19px;
    height: 18px;
    background: url('../images/home/plus.png');
    border-radius: 50%;
    background-color: $pink;
  }
  img{
    max-width: 85%;
    width: 80%;
    border-radius: 50%;
    transition:{
       property: width, margin-top, margin-bottom;
       duration: 0.2s;
       timing-function: ease-in-out;
    }
    &:hover{
      width: 85%;
      margin-top: -3%;
      margin-bottom: -3%;
    }
  }
  .img{
    transform: rotateY(180deg);
    height: 85%;
  }
  &.active{
    .img{
      transform: rotateY(360deg);
      transition: 0.6s;
      transform-style: preserve-3d;
    }
  }
}
footer{
  background: #D60056;
  padding: 50px 0;
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      padding: 5px 0;
    }
    &.social{
      li{
        padding: 0;
        line-height: 10px;
      }
      a{
        font-size: 30px;
      }
    }
  }
  a{
    color: #fff;
    font-size: 14px;
    font-family: 'HalisGR-Medium';
    &:hover,
    &:focus{
      background-color: transparent!important;
      color: white;
      text-decoration: none;
    }
  }
  @media screen and (max-width: $screen-sm){
    text-align: center;
    img{
      clip-path: inset(0 60px 0px 0px);
      padding-left: 60px;
    }
    ul{
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom:{
        style: solid;
        width: 1px;
        color: white;
      }
      &.social{
        border: 0;
        li{
          display: inline-block;
          padding: 0 10px;
        }
      }
    }
  }
}


.navbar-toggle{
  background: $pink;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    background: white;
    left: 5px;
    right: 5px;
    height: 3px;
    top: 13px;
    border-radius: 1px;
  }
  &:before{
    position: absolute;
    content: '';
    background: white;
    left: 5px;
    right: 5px;
    height: 3px;
    bottom: 13px;
    border-radius: 1px;
  }
  &.collapsed{
    &:after{
      transform: rotate(45deg);
      top: 17px;
    }
    &:before{
      transform: rotate(-45deg);
      bottom: 17px;
    }
  }
  &.invert{
    background: white;
    &:after,
    &:before{
      background: $pink;
    }
  }
}
@media screen and (max-width: 767px){
  .navbar-collapse{
    background: $pink;
    .nav{
      a{
        color: white !important;
      }
    }
    .navbar-nav{
      width: 40%;
      margin: 0 auto;
      text-align: center;
      li{
        a{
          border-bottom: 1px solid white;
        }
        &:last-child{
          a{
            border-bottom: 0;
          }
        }
      }
    }
  }
}