body.projects{
	#projects-section{
    &:after,
    &:before{
      content: '';
      display: table;
    }
    &:after{
      clear: both;
    }
    .projects-column{
      float: left;
      width: 50%;
    }
    .project{
      position: relative;
      img{
        width: 100%;
      }
      &.benefiq{
        background: #F38E00;
      }
      .description{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, .8);
        opacity: 0.6;
        display: none;
        z-index: 3;
      }
      .cover{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        background: {
          repeat: no-repeat;
          size: 100%;
          position: 50% 50%;
        }
      }
      &:hover{
        .description{
          display: block;
        }
      }
    }
  }
}
