body.projects{
	#projects-section{
    &:after,
    &:before{
      content: '';
      display: table;
    }
    &:after{
      clear: both;
    }
    .projects{
      float: left;
      width: 50%;
    }
    .project{
      img{
        width: 100%;
      }
      &.benefiq{
        background: #F38E00;
      }
    }
  }
}
