body.projects{
  .navbar{
    position: static;
    padding-top: 0;
    background: $pink;
    border-radius: 0;
    position: relative;
    .navbar-toggle{
      background: white;
      .icon-bar{
        background: $pink;
      }
    }
    li{
      &.active{
        a{
          &:before{
            background: white;
          }
        }
      }
    }
  }
  #main{
    margin-top: 50px;
  }
	#projects-section{
    &:after,
    &:before{
      content: '';
      display: table;
    }
    &:after{
      clear: both;
    }
    .projects-column{
      float: left;
      width: 50%;
      @media screen and (max-width: 599px){
        width: 100%;
      }
    }
    .project{
      position: relative;
      img{
        width: 100%;
      }
      &.benefiq{
        background: #F38E00;
      }
      .description{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 3;
        color: white;
        transition: opacity 0.3s linear;
        opacity: 0;
        text-align: center;
      }
      .description-content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        h2{
          font-family: 'Aleo-Regular';
          font-size: 25px;
          margin-bottom: 0;
        }
        p{
          font-family: 'HalisGR-Extralight';
          font-size: 13.5px;
        }
      }
      .cover{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        transition: background-size 0.3s ease;
        background: {
          repeat: no-repeat;
          size: 100%;
          position: 50% 50%;
        }
      }
      &:hover{
        .description{
          opacity: 1;
        }
        .cover{
          background-size: 103%;
        }
      }
    }
  }
}
