body.red{
  .navbar {
    background: none;
    .navbar-brand {
      background:{
        image: url('../images/logo-small.png');
      }
    }
  }
  .image-slider{
    img{
      width: 100%;
      display: none;
      &.active{
        display: block;
      }
    }
  }
  #main{
    margin-top: 50px;
    .red-text{
      margin: 70px 0;
      p{
        color: #8A8A8D;
        font-family: 'HalisGR-Extralight';
        max-width: 540px;
        display: block;
        font-size: 16px;
      }
      h1{
        color: $pink;
        font-family: 'Aleo-Regular';
        margin-bottom: 20px;
      }
    }
  }
}
